@import "tailwindcss";

*{
    transition: all 0.3s ease;
}

@keyframes gradientBorder {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes gradientBackground {
    0% {
        background-position: 0 50%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0 100%;
    }
    100% {
        background-position: 0 50%;
    }
}